<!DOCTYPE html>
<html>
<head>
	<title>NearTAL - data-tal-content test</title>
</head>
<body>
	<p data-tal-content="default">Sample text</p>
	<p data-tal-content="default" />
	<p data-tal-content="text">Sample text</p>
	<p data-tal-content="text" />
	<p data-tal-content="boolT">Sample text</p>
	<p data-tal-content="boolT" />
	<p data-tal-content="boolF">Sample text</p>
	<p data-tal-content="boolF" />
	<p data-tal-content="boolF | default">Sample text</p>
	<p data-tal-content="boolF | default" />
	<p data-tal-content="boolT | default">Sample text</p>
	<p data-tal-content="boolT | default" />
	<p data-tal-content="nothing">Sample text</p>
	<p data-tal-content="nothing" />
	<p data-tal-content="CONTEXTS/default">Sample text</p>
	<p data-tal-content="CONTEXTS/default" />
	<p data-tal-content="CONTEXTS/nothing">Sample text</p>
	<p data-tal-content="CONTEXTS/nothing" />
</body>
</html>
