<!DOCTYPE html>
<html>
<head>
	<title>NearTAL - data-tal-omit-tag test</title>
</head>
<body>
	<p data-tal-omit-tag="default">Sample text</p>
	<p data-tal-omit-tag="default" />
	<p data-tal-omit-tag="text">Sample text</p>
	<p data-tal-omit-tag="text" />
	<p data-tal-omit-tag="boolT">Sample text</p>
	<p data-tal-omit-tag="boolT" />
	<p data-tal-omit-tag="boolF">Sample text</p>
	<p data-tal-omit-tag="boolF" />
	<p data-tal-omit-tag="boolF | default">Sample text</p>
	<p data-tal-omit-tag="boolF | default" />
	<p data-tal-omit-tag="boolT | default">Sample text</p>
	<p data-tal-omit-tag="boolT | default" />
	<p data-tal-omit-tag="nothing">Sample text</p>
	<p data-tal-omit-tag="nothing" />
	<p data-tal-omit-tag="CONTEXTS/default">Sample text</p>
	<p data-tal-omit-tag="CONTEXTS/default" />
	<p data-tal-omit-tag="CONTEXTS/nothing">Sample text</p>
	<p data-tal-omit-tag="CONTEXTS/nothing" />
</body>
</html>
